
  body {
    margin: 0;
    text-align: center;
    background-color: #FFFFFF;
    height: 100%;
    height: 100vh;
/*    overflow: hidden;*/
  }
  .navbar {
    background: #ffb84d;
    background-color: #FEFFFF;
  }
  .navbar {
    background: #3AAFA9;
    font-weight: 500;
  }
  .navbar-brand {
    color: white !important;
  }

  .nav-link {
    color:white !important;
  }

  .navbar-brand:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
  }

  .navbar-nav li > a:hover {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
  }

  .container-fluid {
    margin-top: 10px;
    overflow:hidden;
  }
  .column-label {
    font-size: 16.3px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51,58,86);
  }


  .calendar-holder {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    padding: 5% 0;
    overflow-y: auto;
  }
  .message-content {
    margin-left: 60px;
    margin-right: 60px;
  }

  #welcome_title {
    font-size: 30px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51,58,86);
  }

  #welcome_body {
    font-size: 17.5px;
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51,58,86);
  }

  #course-search {
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .ui-widget {
    position: relative;
  }
  .ui-widget input {
    width: 100%;
    height: 40px;
    border: 1px solid #FEFFFF;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 1px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
  }
  .coursequeue {
    font-size:13px;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .refreshed-courses {
    cursor: pointer;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid rgb(23,37,42);
    /*border-radius: 5px;*/
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(254, 255, 255);
    padding: 10px 10px 10px 0;
    /*margin-bottom: 10px;*/
  }
  .createschedule {
    position: relative;
  }
  ul.ui-autocomplete {
    position: relative;
    display: inline-block;
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    /*padding-left: 0;*/
    padding-top:20px;
  }
/*  .filter_button {
    background-color: #ffb84d;
    background-color: #333A56
  }*/
  #search-results {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    max-height: 700px;
    margin: 0;
  }
  .coursecomb {
    cursor: pointer;
    /*border: 1px solid rgb(255, 184, 77);*/
    border: 1px solid rgb(23,37,42);
    border-radius: 5px;
    font-size: 16.25px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: rgb(254, 255, 255);
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
    transition: 0.1s;
  }
  .combqueue {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(23,37,42);
    height: calc(100vh - 150px);
    /*match the height of calendar column */
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  div#selected-coursecomb {
    position: relative;
    margin-bottom: 0;
  }
/*  #calendar {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    height: 300px;
  }*/
  #calendar-container{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    height: calc(100vh - 185px);
    /* Height just right to avoid calendar overflow*/
    max-height: 608px;
  }
  .course-checkbox {
    display: none;
  }
  #precept-button {
    color: black;
    font-size-size: 12px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.5;
    transition: 0.8s;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.5;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
  }
  .course-checkbox:checked + #precept-button {
    opacity: 1;
  }
  .precept_render {
    cursor: pointer;
    opacity: 0.5;
  }
  .selected_precept {
    opacity: 1;
  }
  .selected_class {
    opacity: 1;
  }
  #calendar .fc-today {
    background-color: white !important;
  }
  #calendar .fc-content {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  #calendar .fc-event {
    /*box-shadow: 1px 1px 1px #706868;*/
  }
  #calendar .fc-agenda-axis, #calendar .fc-widget-header {
    font-weight: normal;
    padding: 3px;
    border-radius: 3px;
  }
  .fa-arrow-alt-circle-right {
    cursor: pointer;
    font-size:20px;
  }
  .schedule-name-input {
    border-radius: 25px;
    border: 1px solid ;
  }
  .save-schedule-panel {
    padding-bottom: 15px;
  }
  #save-schedule {
    float: right;
  }
  .save-schedule-message {
    position: absolute;
    padding-top: 5px;
    right: 130px;
  }

  .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
  }

  /*overlay*/
  .container {
    position: relative;
    width: 100%;
  }
  .overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 100%;
    right: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: .5s ease;
   /* border-radius: 5px;*/
  }
  .container:hover .overlay {
    width: 100%;
    left: 0;
  }
  .registrar {
    color:white;
     float: left;
     width: 33.33%; 
     height:100%;
     background-color: #3AAFA9;
     padding: 5% 0;
  }

  .registrar:hover {
    color: black;
  }
  .reviews {
    color:white;
     float: left;
     width: 33.33%; 
     height:100%;
     background-color: lightgrey;
     padding: 5% 0;
  }
  .reviews:hover {
    color: black;
  }
  .deletebutton {
    color:white;
     float: left;
     width: 33.33%; 
     height:100%;
     background-color: #FF6686;
     padding: 5% 0;
  }
  .deletebutton:hover {
    color: black;
  }
  .row1:before, 
  .row1:after {
      content:"";
      display: table ;
      clear:both;
  }
  .text {
    padding: 10% 0;
  }
  .fa, .fas {
    opacity:0.5;
  }

  .btn-primary {
    /*background-color:#37c6e6;*/
    /*border-color: #37c6e6;*/
    border-color: #2B7A78;
    background-color: #2B7A78;
  }
  .btn-primary:hover {
  /*  background-color:#1aafd0;
    border-color: #1aafd0;*/
    background-color: #3AAFA9;
    border-color: #3AAFA9;
  }

  #filter-label {
    font-weight: 600;
  }

  .form-check-label {
    padding-right: 10px;
  }

  .filter_label {
    padding-right: 3px;
  }

  .filter_label_priority {
    padding-right: 20px;
  }

  .schedule-name-input {
    border: 1px solid #FEFFFF;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 1px;
    font-family: 'Open Sans', sans-serif;
  }
  
