<script type="text/javascript">
    $(function() {
        $("#calendar").fullCalendar({
            eventClick: function(calEvent, jsEvent, view) {
                if (calEvent["className"].indexOf("precept_render") != -1) {
                    $(".save-schedule-message").empty();
                // for primary meeting
                if (calEvent["className"].indexOf("primary") != -1) {
                    title = calEvent["id"].split("-")[0];
                    all_sources = $("#calendar").fullCalendar('getEventSources');
                    precepts_display = false;
                    
                    for (i = 0; i < all_sources.length; i++) { 
                        if (isEqual(all_sources[i]["rawEventDefs"], JSON.parse(JSON.parse(schedule_data["schedule"])[title]))) {
                            precepts_display = true;
                            var selected_precept;
                            for (j = 0; j < all_sources[i]["rawEventDefs"].length; j++) {
                                if (all_sources[i]["rawEventDefs"][j]["id"] == calEvent["id"]) {
                                    selected_precept = all_sources[i]["rawEventDefs"][j];
                                    temp = selected_precept["className"].split(" ");
                                    temp.push("selected_class");
                                    selected_precept["className"] = temp;
                                    selected_precept = [selected_precept];
                                }
                            }
                            $("#calendar").fullCalendar('removeEventSource', calEvent["source"]["rawEventDefs"]);
                            $("#calendar").fullCalendar('addEventSource', selected_precept);
                        } 
                    }
                    if (precepts_display == false) {
                        $("#calendar").fullCalendar('removeEventSource', calEvent["source"]["rawEventDefs"]);
                        $("#calendar").fullCalendar('addEventSource', JSON.parse(JSON.parse(schedule_data["schedule"])[title]));
                    }
                }
                else {
                    title = calEvent["id"].split("-")[0];
                    section_type = calEvent["id"].split("-")[1][0];
                    all_sources = $("#calendar").fullCalendar('getEventSources');
                    precepts_display = false;
                    for (i = 0; i < all_sources.length; i++) { 
                        if (isEqual(all_sources[i]["rawEventDefs"], JSON.parse(schedule_data[title])[section_type])) {
                            precepts_display = true;
                            var selected_precept;
                            for (j = 0; j < all_sources[i]["rawEventDefs"].length; j++) {
                                if (all_sources[i]["rawEventDefs"][j]["id"] == calEvent["id"]) {
                                    selected_precept = all_sources[i]["rawEventDefs"][j];
                                    temp = selected_precept["className"];
                                    selected_precept["className"] = [temp, "selected_precept"];
                                    selected_precept = [selected_precept];
                                }
                            }
                            $("#calendar").fullCalendar('removeEventSource', calEvent["source"]["rawEventDefs"]);
                            $("#calendar").fullCalendar('addEventSource', selected_precept);
                        } 
                    }
                    if (precepts_display == false) {
                        $("#calendar").fullCalendar('removeEventSource', calEvent["source"]["rawEventDefs"]);
                        $("#calendar").fullCalendar('addEventSource', JSON.parse(schedule_data[title])[section_type]);
                    }
                }
            }
        },

        defaultView: 'agendaWeek',
        header: false,
        columnHeaderFormat: 'ddd',
        minTime: '08:0:00',
        maxTime: '23:00:00',
        slotDuration: '00:30:00',
        allDaySlot: false,
        weekends: false,
        height: 'parent',
        // contentHeight: '10',
        eventOverlap: false,
        // aspectRatio: .5,
        // slotMinutes: 30,
        timeFromat: 'H:mm',
        /*editable: true*/
        // handleWindowResize: true
    })
});
</script>