<div class = "col-sm-2" id="course-search">

  <div class="ui-widget">
    <label for="courses">Search: </label>
    <input id="courses">
  </div>

  <!-- FILTER --> 
  {% include 'filter_button.html' %}

  <form id="coursesearch" method="post">
    {% csrf_token %} 
    <label for="number_of_courses">Number of Courses: </label>
    <select class="form-control-in-line" id="coursenum">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>

    <div class = "aftersearch"></div>

    <div class = "coursequeue">
      {% for i in favorites%}
      {{ i | safe}} 
      {% endfor %}
      <br>
    </div>
    <button type="submit" class = "btn btn-success createschedule"> Create My Schedule! </button>
  </form>
</div>