<div class = "d-none d-lg-block col-md-2" id="course-search">

  <div class="ui-widget">
    <label for="courses"> </label>
    <input id="courses" placeholder="Search Course Here...">
  </div>

    <div class = "aftersearch"></div>

    <div class = "coursequeue">
      {% for i in favorites%}
      {{ i | safe}} 
      {% endfor %}
      <br>
    </div>

<!--     <div class = "course_search"></div>

    <div class = "aftersearch">
      {% for i in favorites%}
      {{ i | safe}} 
      {% endfor %}
      <br>
    </div> -->

  <!-- FILTER --> 
  {% include 'filter_button.html' %}

</div>