{% extend 'templates/filter_button.html' %}
{% block distribution %}
<div id="distribution">
  <label for="distribution">Must-have Distributions: </label>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist1" value="option1">
    <label class="form-check-label" for="dist1">HA</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist2" value="option2">
    <label class="form-check-label" for="dist2">SA</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist3" value="option3">
    <label class="form-check-label" for="dist3">STL</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist4" value="option3">
    <label class="form-check-label" for="dist4">STN</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist5" value="option3">
    <label class="form-check-label" for="dist5">EC</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist6" value="option3">
    <label class="form-check-label" for="dist6">EM</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist7" value="option3">
    <label class="form-check-label" for="dist7">LA</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dist8" value="option3">
    <label class="form-check-label" for="dist8">QR</label>
  </div>

</div>
{% endblock distribution %}