<div class="filter-container form-inline d-inline">
  <div class="filter">
    <button type='button' class="btn btn-primary align-top create_schedule" data-toggle="modal" data-target="#filter-modal">
      Create My Schedule!
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filter-options">Set your preferences:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <!-- FILTER FORM -->
          <form id="filter" method="post">
            {% csrf_token %}

            <label for="number_of_courses">Number of Courses: </label>
            <select class="form-control-in-line" id="coursenum">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>

            <label class="form-check-label" for="must-have-courses">Must have Courses: </label>
            <div id="must-have-courses">
            </div>
            <br>

            <label class="form-check-label" for="must-have-departments">Must have Departments: </label>
            <div id="must-have-departments">
            </div>
            <br>

            <div id="distribution">
              <label for="distribution">Must-have Distributions: </label>

              <div class="form-check form-check-inline">
                <label class="form-check-label" for="ha">
                  HA<input class="form-check-input" type="checkbox" id="ha">
                </label>
                
                <label class="form-check-label" for="sa">
                  SA<input class="form-check-input" type="checkbox" id="sa">
                </label>

                <label class="form-check-label" for="stl">
                  STL<input class="form-check-input" type="checkbox" id="stl">
                </label>

                <label class="form-check-label" for="stn">
                  STN<input class="form-check-input" type="checkbox" id="stn">
                </label>

                <label class="form-check-label" for="ec">
                  EC<input class="form-check-input" type="checkbox" id="ec">
                </label>

                <label class="form-check-label" for="em">
                  EM<input class="form-check-input" type="checkbox" id="em">
                </label>

                <label class="form-check-label" for="la">
                  LA<input class="form-check-input" type="checkbox" id="la">
                </label>

                <label class="form-check-label" for="qr">
                  QR<input class="form-check-input" type="checkbox" id="qr">
                </label>
              </div>
            </div>

            <br>

            <label class="form-check-label" for="course-priority">Priority of Each Course: </label>
            <div id="course-priority">
            </div>
            <br>



            <div id="max_dept">
              <label class="form-check-label" for="dept_max"> Maximum # of Courses in one department:
                <select class="form-control-in-line" id="max_dept">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </label>
            </div>
            <br>

            <div id="time">
              <label class="form-check-label" for="no-friday-class">
                No Friday Class:<input class="form-check-input" type="checkbox" id="no-friday-class">
              </label>

              <label class="form-check-label" for="no-evening-class">
                No Evening Class:<input class="form-check-input" type="checkbox" id="no-evening-class">
              </label>

              <label class="form-check-label" for="after-ten-am">
                After 10am:<input class="form-check-input" type="checkbox" id="after-ten-am">
              </label>
            </div>

            <br>

            <div id="full_class">
              <label class="form-check-label" for="full">
                Exclude fully enrolled classes:<input class="form-check-input" type="checkbox" id="full"> 
              </label>
            </div>

            <br>

            <div id="pdf_only">
              <label class="form-check-label" for="pdf">
                Include 1 PDF-only Class:<input class="form-check-input" type="checkbox" id="pdf">
              </label>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary show_combo">Show Combinations</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>