<div class="filter-container form-inline d-inline">
  <div class="filter">
    <button type='button' class="btn btn-primary align-top create_schedule" data-toggle="modal" data-target="#filter-modal">
      Create My Schedule!
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filter-options">Set your preferences:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <!-- FILTER FORM -->
          <form id="filter" method="post">
            {% csrf_token %}

            <label id="filter-label" for="number_of_courses">
              <span class="filter_label">How many courses do you want to take?:</span>
              <select class="form-control-in-line" id="coursenum">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </label>

            <br>

              <label class="form-check-label" id="filter-label" for="course-priority">Priority of Each Course: </label>
              <div id="course-priority">
              </div>

            <br>

            <div id="distribution">
              <label id="filter-label" for="distribution">Must-have Distributions: </label>

              <div class="form-check form-check-inline">
                <label class="form-check-label" for="ha">
                  <span class="filter_label">HA</span>
                  <input class="form-check-input" type="checkbox" id="ha">
                </label>

                <label class="form-check-label" for="sa">
                  <span class="filter_label">SA</span>
                  <input class="form-check-input" type="checkbox" id="sa">
                </label>

                <label class="form-check-label" for="stl">
                  <span class="filter_label">STL</span>
                  <input class="form-check-input" type="checkbox" id="stl">
                </label>

                <label class="form-check-label" for="stn">
                  <span class="filter_label">STN</span>
                  <input class="form-check-input" type="checkbox" id="stn">
                </label>

                <label class="form-check-label" for="ec">
                  <span class="filter_label">EC</span>
                  <input class="form-check-input" type="checkbox" id="ec">
                </label>

                <label class="form-check-label" for="em">
                  <span class="filter_label">EM</span>
                  <input class="form-check-input" type="checkbox" id="em">
                </label>

                <label class="form-check-label" for="la">
                  <span class="filter_label">LA</span>
                  <input class="form-check-input" type="checkbox" id="la">
                </label>

                <label class="form-check-label" for="qr">
                  <span class="filter_label">QR</span>
                  <input class="form-check-input" type="checkbox" id="qr">
                </label>
              </div>
            </div>

            <br>

            <p>
              <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseAdvanced" role="button" aria-expanded="false" aria-controls="collapseAdvanced">
                Show/Hide Advanced Options
              </a>
            </p>

            <div class="collapse" id="collapseAdvanced">

              <label class="form-check-label" id="filter-label" for="must-have-departments">Must have Departments: </label>
              <div class="form-check form-check-inline" id="must-have-departments">
              </div>

              <br>
              
              <div id="max_dept">
                <label class="form-check-label" id="filter-label" for="dept_max"> 
                  <span class="filter_label">Maximum # of Courses in One Department:</span>
                  <select class="form-control-in-line" id="max-dept">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </label>
              </div>
              <br>

              <div id="time">
                <label id="filter-label" for="time">Time Preferences:</label>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="no-friday-class">
                    <span class="filter_label">No Friday Class:</span>
                    <input class="form-check-input" type="checkbox" id="no-friday-class">
                  </label>

                  <label class="form-check-label" for="no-evening-class">
                    <span class="filter_label">No Evening Class:</span>
                    <input class="form-check-input" type="checkbox" id="no-evening-class">
                  </label>

                  <label class="form-check-label" for="after-ten-am">
                    <span class="filter_label">After 10am:</span>
                    <input class="form-check-input" type="checkbox" id="after-ten-am">
                  </label>
                </div>
              </div>

              <br>

              <div id="full_class">
                <label class="form-check-label" id="filter-label" for="full">
                  <span class="filter_label">Exclude Fully Enrolled Classes:</span>
                  <input class="form-check-input" type="checkbox" id="full"> 
                </label>
              </div>

              <br>

              <div id="pdf_only">
                <label class="form-check-label" id="filter-label" for="pdf">
                  <span class="filter_label">Include 1 PDF-only Class:</span>
                  <input class="form-check-input" type="checkbox" id="pdf">
                </label>
              </div>
              <br>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary reset_filter">Reset Filters</button>
              <button type="submit" class="btn btn-primary show_combo">Show Combinations</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>