<script type="text/javascript">
  var lightpalette = ["#E0FFFF", "#D8BFD8", "#FFDEAD", "#DCDCDC", "#FFDAB9", "#BDB76B", "#E6E6FA", "#FFB6C1", "#CD853F", "#B0C4DE"];
  var darkpalette  = ["#001f3f"];
  var csrfmiddlewaretoken = '{{ csrf_token }}';
  var schedule_data;
  var section_types = ["L", "C", "S", "U", "B", "D", "E", "F", "P"]

  // Save schedule
  function saveSchedule() {
    calendar_data = []
    all_sources = $("#calendar").fullCalendar('getEventSources');
    for (i = 0; i < all_sources.length; i++) { 
      for (j = 0; j < all_sources[i]["rawEventDefs"].length; j++) {
        calendar_data.append(all_sources[i]["rawEventDefs"][j]);
      }
    }
    console.log(all_sources);
    

  }

  // Click on a combination
  $('body').on('click', '.coursecomb', function (e) {
    e.preventDefault();
    comb_id = $(this).attr("class").split(" ")[1];
    var coursecomb_data = {
      comb_click:'comb_click',
      comb_id: comb_id
    };
    var classes;

    $.ajax({
      type: "GET",
      url: '/',
      data: coursecomb_data,
      success: function(data) {
        $("#calendar").fullCalendar('removeEventSources');
        all_courses = JSON.parse(JSON.parse(data["schedule"])["names"]);
        for (k = 0; k < all_courses.length; k++) {
          $("#calendar").fullCalendar('addEventSource', JSON.parse(JSON.parse(data["schedule"])[all_courses[k]]));
        }
        
        schedule_data = data;
        
        var selectedCourses = $(".coursecomb." + comb_id).text();
        selectedCourses = selectedCourses.substring(0,selectedCourses.length-3);
        selectedCourses = selectedCourses.split(",");
        $("div#selected-coursecomb").empty();

        var classes = JSON.parse(JSON.parse(schedule_data["schedule"])["names"]);
        var j = 0;

        for (i = 0; i < selectedCourses.length; i++) {
          var course = selectedCourses[i].trim();
          if (schedule_data[course] != "{}") {
            $("div#selected-coursecomb").append(
              $("<div/>", {"class": "col"}).append(
                $("<input class = 'course-checkbox' type = 'checkbox' name = '" + course + "' id = '" + course + "'/>" + "<label class = 'col " + i + "' id = 'precept-button' for = '" +
                course + "'>" + course + "</label>")
              )
            );
          }

          
          while (j < classes.length) {
            var temp = classes[j].title.trim();
            j++;
            if (contains(course, temp.substring(0, temp.length-4))) {
              $(".col." + i).css("background-color", classes[j-1].color);
              console.log(classes[j-1].color);
              break;
            }
          }          
          
          // while (j < classes.length) {
          //   var temp = classes[j];
          //   j++;
          //   if (contains(course, temp.substring(0, temp.length-4))) {
          //     $(".col." + i).css("background-color", classes[j-1].color);
          //     /*console.log(classes[j-1].color);*/
          //     break;
          //   }
          // }
        }
      }
    });
    
    // second column highlighting
/*    if ($(this).css("opacity") == "1") {
      $(this).css("opacity", "0.5");
    }
    else {
      $(".coursecomb").each(function () {
        if ($(this).css("opacity") == "1") {
          $(this).css("opacity", "0.5");
        }
      });
      if ($(this).css("opacity") == "0.5") {
        $(this).css("opacity", "1");
      } 
      else {
        $(this).css("opacity", "0.5");
      }
    }*/
    if ($(this).css("background-color") == "rgb(255, 184, 77)") {
      $(this).css("background-color", "rgb(255, 255, 255)");
    }
    else {
      $(".coursecomb").each(function () {
        if ($(this).css("background-color") == "rgb(255, 184, 77)") {
          $(this).css("background-color", "rgb(255, 255, 255)");
        }
      });
      if ($(this).css("background-color") == "rgb(255, 255, 255)") {
        $(this).css("background-color", "rgb(255, 184, 77)");
      } 
    }
  });

  // Click on precept/labs/etc.
  $('div#selected-coursecomb').on('click', 'input[type=checkbox]', function() {
    all_sources = $("#calendar").fullCalendar('getEventSources');
    title = this.id;
    course_display = false;
    var course_remove;
    var precept_remove;
    for (i = 0; i < all_sources.length; i++) { 
      
      for (j = 0; j < section_types.length; j++){
        if (JSON.parse(schedule_data[title])[section_types[j]]) {
          if (isEqual(all_sources[i]["rawEventDefs"], JSON.parse(schedule_data[title])[section_types[j]])) {
            course_display = true;
            course_remove = all_sources[i]["rawEventDefs"];
            $("#calendar").fullCalendar('removeEventSource', course_remove);
          } 
        }
      }
      
      if (all_sources[i]["rawEventDefs"][0]["className"]) {
        if (all_sources[i]["rawEventDefs"][0]["className"].indexOf("selected_precept") != -1) {
          if (all_sources[i]["rawEventDefs"][0]["id"].split("-")[0] == title) {
            precept_remove = all_sources[i]["rawEventDefs"];
            $("#calendar").fullCalendar('removeEventSource', precept_remove);
          }
        }
      }
    }
    if (course_display == false) {
      for (k = 0; k < section_types.length; k++) {
        if (JSON.parse(schedule_data[title])[section_types[k]]) {
          $("#calendar").fullCalendar('addEventSource', JSON.parse(schedule_data[title])[section_types[k]]);
        }
      }
    }
  });




  // Click the Filter button -> dynamically change the form
  $('body').on('click', '.filter_button', function(e) {
    e.preventDefault();
    var filter = {
      click_filter: 'click_filter',
      csrfmiddlewaretoken: csrfmiddlewaretoken
    };
    $.ajax({
     type: "POST",
     url: '/',
     data: filter,
    success: function(data) {
      var must_have_courses = JSON.parse(data["must_have_courses"]);
      var must_have_departments = JSON.parse(data["must_have_departments"]);
      $("#must-have-courses").empty();
      $("#must-have-courses").append(must_have_courses);
      $("#must-have-departments").empty();
      $("#must-have-departments").append(must_have_departments);
    }
  });
  });

  // FOR ACTUAL FILTERING
  $('#filter').on('submit', function(e){
    e.preventDefault();

    // number of courses
    var x = $("#coursenum option:selected").text();

    // Must have courses
    var allCourses = [];
    $('.class-check:checked').each(function () {
        allCourses.push($(this).val());
    });
    
    // Must have departments
    var allDeps = [];
    $('.dep-check:checked').each(function () {
        allDeps.push($(this).val());
    });

    // distribution filter
    var distribution = [];
    if ($('#ha').is(":checked"))
      distribution.push("HA");
    if ($('#sa').is(":checked"))
      distribution.push("SA");
    if ($('#stl').is(":checked"))
      distribution.push("STL");
    if ($('#stn').is(":checked"))
      distribution.push("STN");
    if ($('#ec').is(":checked"))
      distribution.push("EC");
    if ($('#em').is(":checked"))
      distribution.push("EM");
    if ($('#la').is(":checked"))
      distribution.push("LA");
    if ($('#qr').is(":checked"))
      distribution.push("QR");

    // max departmentals filter
    var max_dept = $("#max_dept option:selected").text();

    var no_friday_class = false;
    if ($('#no-friday-class').is(":checked")){
      no_friday_class = true;
    }

    var no_evening_class = false;
    if ($('#no-evening-class').is(":checked")){
      no_evening_class = true;
    }

    var ten_am = false;
    if ($('#ten-am').is(":checked")){
      ten_am = true;
    }

    var full = false;
    if ($('#full').is(":checked")){
      full = true;
    }

    var pdf = false;
    if ($('#pdf').is(":checked"))
      pdf = true;

    var createschedule_data = {
      searchresults: 'searchresults',
      number_of_courses: x,
      courses: allCourses,
      depts: allDeps,
      distribution: distribution,
      max_dept: max_dept,
      no_friday_class: no_friday_class,
      no_evening_class: no_evening_class,
      ten_am: ten_am,
      full: full,
      pdf: pdf,
      csrfmiddlewaretoken: csrfmiddlewaretoken
    };

    $.ajax({
     type: "POST",
     url: '/',
     data: createschedule_data,
     success: function(data) {
      var courses_com = JSON.parse(data["courses_com"]);
      $("#search-results").empty();
      $("#search-results").append(courses_com);
    },
    error: function(xhr, textStatus, errorThrown) {
      alert("some error");
    }
  });
  });

  // Delete a course
  $('body').on('click', '.deleteclass', function (e) {
    e.preventDefault();
    var parent = $(this).parent();
    var class_delete_data = {
      deleteclass: 'deleteclass',
      registrar_id: this.id,
      csrfmiddlewaretoken: csrfmiddlewaretoken
    };
    $.ajax({
     type: "POST",
     url: '/',
     data: class_delete_data,
     success: function(data) {
      parent.remove();
      /*remove events on calendar if same*/
    }
  });
  });

  // Autocomplete
  $(function() {
    $("#courses").autocomplete({
      source: "/api/get_courses/",
      minLength: 2,
      messages: {
        noResults: '',
        results: function() {}
      },
      appendTo: '.aftersearch',
      select: function (e, ui) {
        // console.log(ui.item.value)
        var class_select_data = {
          addclass: 'addclass',
          class: ui.item.label,
          registrar_id: ui.item.value,
          csrfmiddlewaretoken: csrfmiddlewaretoken
        };
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: '/',
          data: class_select_data,
          success: function(data) {
          if (data != {}) {
            var newclass = JSON.stringify(data["newclass"]);
            var newid = JSON.stringify(data["newid"]);
            $(".aftersearch").append(
              $("<div class = 'course-results " + newid + "''>" + JSON.parse(newclass) + "</div>").append(
                $("<button type = 'button' class = 'btn btn-xs deleteclass' id = " + newid + "> x </button>")
              )
            )
            $(".course-results" + newid).css("background-color", lightpalette[newid%10]);
          }
          }
        });
      }
    });
  });
</script>