<script type="text/javascript">
	var csrfmiddlewaretoken = '{{ csrf_token }}';
	var favorites = JSON.parse('{{ favorites | escapejs }}');
	for (i = 0; i < favorites.length; i++) {
		courses = JSON.parse(favorites[i][1]).join(", ");
		string = '<div class = "coursecomb fav-name" id =' + i + '> <span class = "fav-name">' + favorites[i][0] + " (" + courses + ")" + '</span>' + '<button type="button" class="close delete-favorite" id="' + i + '"> &times;</button> </div>'
		$('.favorite-list').append(string);
	}


	$('.favorite-list').on('click', '.coursecomb', function () {
		$("#calendar").fullCalendar('removeEventSources');
		events = favorites[this.id][2];
		eventSource = [];
		for (i = 0; i < events.length; i++) {
			eventSource.push(JSON.parse(events[i]));
		}
		$("#calendar").fullCalendar('addEventSource', eventSource);

		// highlighting
		if ($(this).css("background-color") == "rgb(255, 184, 77)") {
			$(this).css("background-color", "rgb(255, 255, 255)");
		}
		else {
			$(".coursecomb").each(function () {
				if ($(this).css("background-color") == "rgb(255, 184, 77)") {
					$(this).css("background-color", "rgb(255, 255, 255)");
				}
			});
			if ($(this).css("background-color") == "rgb(255, 255, 255)") {
				$(this).css("background-color", "rgb(255, 184, 77)");
			} 
		}
	});

	// Delete a course
	$('.delete-favorite').on('click', function (e) {
		e.preventDefault();
		var parent = $(this).parent();
		events = favorites[this.id][2];
		var fav_delete_data = {
			deletefav: 'deletefav',
			fav_data: JSON.stringify(events),
			csrfmiddlewaretoken: csrfmiddlewaretoken
		};
		$.ajax({
			type: "POST",
			url: '/favorites/',
			data: fav_delete_data,
			success: function(data) {
				parent.remove();
			}
		});
	});

</script>