  <style>
  .container-fluid {
    padding-top: 10px;
  }

  .navbar {
    background: #ffb84d;
  }

  #course-search {
    position: relative;
  }

  .createschedule {
    position: relative;
    bottom: 0%;
  }

  #calendar {
    width: 100%;
    display: inline-block;
    height: 300;
  }

  .ui-widget {
    position: relative;
  }

  .aftersearch {
    border-radius: 6px;
  }

  ul.ui-autocomplete {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    list-style: none;
    padding-left:0;
  }

  .coursecomb {
    cursor: pointer;
  }

  .course-results {
    padding: 10px 5px 5px 10px;
    font-size: 12px;
  }

  div#selected-coursecomb .btn-combcourses{
    position: relative;
    border: none;
    background-color: #ffb84d;
    color: black;
    height: 50px;
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
    transition: 0.8s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
  }

 /*  doesn't work with the click :(
  .container .btn-combcourses:hover {
    opacity: 1;
  }
  */
</style>

