<style>
  body {
    margin: 0;
    text-align: center;
    background-color: #FFFFFF;
    height: 100vh;
/*    overflow: hidden;*/
  }
  .navbar {
    background: #ffb84d;
    /*background: #ffb900;*/
    font-weight: 500;
  }
  .navbar-brand {
    color: white !important;
  }
  
  .container-fluid {
    margin-top: 10px;
/*    height:500px;*/
    overflow:hidden;
  }
  #course-search {
    position: relative;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .ui-widget {
    position: relative;
  }
  .ui-widget input {
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 1px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
  }
  .coursequeue {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .refreshed-courses {
    cursor: pointer;
    border: 1px solid rgb(255, 184, 77);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
  }
  .createschedule {
    position: relative;
  }
  ul.ui-autocomplete {
    position: relative;
    display: inline-block;
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    padding-left: 0;
  }
  .filter_button {
    background-color: #ffb84d;
  }
  #search-results {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
  }
  .coursecomb {
    cursor: pointer;
    border: 1px solid rgb(255, 184, 77);
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
    transition: 0.1s;
  }
  div#selected-coursecomb {
    position: relative;
    margin-bottom: 0;
  }
  #calendar {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    height: 500px;
  }
  .course-checkbox {
    display: none;
  }
  #precept-button {
    color: black;
    font-size-size: 12px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.5;
    transition: 0.8s;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.5;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
  }
  .course-checkbox:checked + #precept-button {
    opacity: 1;
  }
  .precept_render {
    cursor: pointer;
    opacity: 0.5;
  }
  .selected_precept {
    opacity: 1;
  }
  .selected_class {
    opacity: 1;
  }
  #calendar .fc-today {
    background-color: white !important;
  }
  #calendar .fc-content {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  #calendar .fc-event {
    /*box-shadow: 1px 1px 1px #706868;*/
  }
  #calendar .fc-agenda-axis, #calendar .fc-widget-header {
    font-weight: normal;
    padding: 3px;
    border-radius: 3px;
  }
  .fa-arrow-alt-circle-right {
    cursor: pointer;
    font-size:20px;
  }
  .schedule-name-input {
    border-radius: 25px;
    border: 1px solid ;
  }
  .save-schedule-panel {
    padding-bottom: 5px;
  }
  .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
/*overlay*/
.container {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: .5s ease;
  border-radius: 5px;
}
.container:hover .overlay {
  width: 100%;
  left: 0;
}
.registrar {
   float: left;
   width: 33.33%; 
   height:100%;
   background-color: #ffb84d;
   padding: 5% 0;
}
.reviews {
   float: left;
   width: 33.33%; 
   height:100%;
   background-color: lightgrey;
   padding: 5% 0;
}
.deletebutton {
   float: left;
   width: 33.33%; 
   height:100%;
   background-color: #fc636b;
   padding: 5% 0;
}
.row1:before, 
.row1:after {
    content:"";
    display: table ;
    clear:both;
}
.text {
  padding: 10% 0;
}
.fa, .fas {
  opacity:0.5;
}

.btn-primary {
  background-color:#37c6e6;
  border-color: #37c6e6;
}
.btn-primary:hover {
  background-color:#1aafd0;
  border-color: #1aafd0;
}
</style>
